{% extends 'main/layoute.html' %}

{% block title %}
    <title>Мир Вкусных Рецептов</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="mb-4">Мир Вкусных Рецептов</h1>
            <p class="lead">Добро пожаловать в наш кулинарный уголок, где каждый рецепт превращается в кулинарный шедевр!</p>
        </div>

        <div class="mt-4">
            <h2>Что вы найдете у нас?</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Простые и вкусные рецепты для всей семьи.</li>
                <li class="list-group-item">Инструкции шаг за шагом для идеального результата.</li>
                <li class="list-group-item">Секреты профессиональных шеф-поваров.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h2>Почему готовить с нами?</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Мы предлагаем разнообразие блюд на любой вкус.</li>
                <li class="list-group-item">Каждый рецепт создан с любовью и вниманием к деталям.</li>
                <li class="list-group-item">Мы вдохновляем вас экспериментировать на кухне!</li>
            </ol>
        </div>

        <div class="mt-4">
            <h2>Начните готовить прямо сейчас!</h2>
            <p>Соберите ингредиенты, включите любимую музыку и наслаждайтесь процессом создания вкусных блюд. Ваши близкие будут в восторге!</p>
        </div>

        <div class="text-center mt-5">
            <p class="fw-bold">Приятного аппетита! 🍴<br>Откройте для себя новые горизонты вкуса вместе с нами.</p>
        </div>
    </div>
{% endblock %}
