{% extends 'main/layoute.html' %}

{% block title %}
    <title>Добро пожаловать на ParrotDjango!</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="mb-4">Добро пожаловать на ParrotDjango! 🦜</h1>
            <p class="lead">Мы рады приветствовать вас на нашем первом сайте, созданном с использованием мощного и современного фреймворка Django.</p>
        </div>

        <div class="mt-4">
            <h2>Здесь вы найдете:</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Удобную и интуитивно понятную навигацию.</li>
                <li class="list-group-item">Интересные статьи и материалы, которые помогут вам погрузиться в мир Django.</li>
                <li class="list-group-item">Красивый и минималистичный дизайн, адаптированный под любые устройства.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h2>Наши цели:</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Создавать проекты, которые вдохновляют.</li>
                <li class="list-group-item">Делать программирование доступным для каждого.</li>
                <li class="list-group-item">Помогать пользователям находить полезную информацию.</li>
            </ol>
        </div>

        <div class="mt-4">
            <h2>Чем мы отличаемся?</h2>
            <p>У нас дружелюбный интерфейс. Мы стремимся к максимальной производительности и открыты к вашим предложениям и отзывам.</p>
        </div>

        <div class="text-center mt-5">
            <p class="fw-bold">Спасибо, что выбрали нас!<br>Оставайтесь с нами, впереди много интересного. 😊</p>
        </div>
    </div>
{% endblock %}
