{% extends 'main/layoute.html' %}

{% block title %}
    <title>Искусство Красоты</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="mb-4">Искусство Красоты</h1>
            <p class="lead">Добро пожаловать в мир косметики, где каждая деталь создана, чтобы подчеркнуть вашу уникальную красоту.</p>
        </div>

        <div class="mt-4">
            <h2>Что мы предлагаем?</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Высококачественные продукты для ухода за кожей.</li>
                <li class="list-group-item">Натуральные ингредиенты для вашей красоты и здоровья.</li>
                <li class="list-group-item">Советы и секреты ухода от ведущих экспертов.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h2>Почему выбирают нас?</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Мы создаем косметику, которая заботится о вашей коже.</li>
                <li class="list-group-item">Мы используем только натуральные и экологически чистые ингредиенты.</li>
                <li class="list-group-item">Мы вдохновляем вас на ежедневный уход и уверенность в себе.</li>
            </ol>
        </div>

        <div class="mt-4">
            <h2>Присоединяйтесь к нам!</h2>
            <p>Откройте для себя искусство ухода за собой. С нами ваша красота всегда будет сиять.</p>
        </div>

        <div class="text-center mt-5">
            <p class="fw-bold">Благодарим за ваш выбор!<br>Станьте частью мира, где красота и здоровье идут рука об руку. 🌸</p>
        </div>
    </div>
{% endblock %}
